body {
    margin: 0;
}

header {
    background-color: #333;
    padding: 20px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 80px;
    height: auto;
    margin-right: 10px;
}

header h1 {
    margin: 0; /* Remove default margin for h1 */
    color: white; /* Set the font color to white */
}

nav {
    display: flex;
    width: 100%;
    background-color: #333;
    align-items: center;
    justify-content: space-around;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    width: 100%;
}

nav li {
    flex-grow: 1;
}

nav a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 20px;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Product list section styling */
table {
    width: 100%;
    border-collapse: collapse;
}

td {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 45%; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: inline-flex;
    flex-direction: column; 
    align-items: center;
}


td img {
    max-width: 80%;
    border-radius: 8px;
    margin-bottom: 10px;
}

td p {
    color: #007BFF;
    font-weight: bold;
}

/* Add to Cart button styling */
button {
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45A049;
}


.about-us, .customer-reviews {
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}

.shop-now button {
    background-color: #4CAF50;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 20px;
    cursor: pointer;
    color: white; /* Set the font color to white */
}

footer {
    background-color: #333;
    padding: 10px;
    margin: 0;
    color: white;
    text-align: center;
}

.customer-reviews p {
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    position: relative;
}

.star-rating {
    color: #FFD700 !important; /* Yellow color for stars */
    font-size: 24px; /* Adjust the font size as needed */
    /* margin: 2px 0; Adjust the margin as needed */
    line-height: 1;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 4px;
}

/* Container for the gray box */
.gray-box {
    background-color: #ddd;
}

/* Login Form Section styling */
.login-form-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Optional: Set a minimum height for centering on the viewport */
}

.login-form-container {
    background-color: #fff; /* Background color for the login form container */
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    text-align: center; /* Center the content */
    align-items: center; /* Center the content vertically */
}

/* Form Fields styling */
form label {
    display: block;
    margin: 10px;
}

form input {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

/* Login Button styling */
form button {
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    opacity: 0.5;
}

form button:hover {
    background-color: #45A049;
    opacity: 1.0;
}

/* Signup Link styling */
.signup-link {
    color: #007BFF;
    margin: 10px;
    text-decoration: none;
}

.signup-link:hover {
    text-decoration: underline;
}

/* Header and Footer styles */
header, footer {
    background-color: #333;
    padding: 20px;
    margin: 0;
    color: white;
    text-align: center;
}

nav {
    display: flex;
    width: 100%;
    background-color: #333;
    align-items: center;
    justify-content: space-around;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    width: 100%;
}

nav li {
    flex-grow: 1;
}

nav a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 20px;
    text-align: center;
}
