body {
    margin: 0;
}

header {
    background-color: #333;
    padding: 20px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 80px;
    height: auto;
    margin-right: 10px;
}

header h1 {
    margin: 0; /* Remove default margin for h1 */
    color: white; /* Set the font color to white */
}

nav {
    display: flex;
    width: 100%;
    background-color: #333;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    width: 100%;
}

nav li {
    flex-grow: 1;
}

nav a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 20px;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us, .customer-reviews {
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}

.shop-now button {
    background-color: #4CAF50;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 20px;
    cursor: pointer;
    color: white; /* Set the font color to white */
}

footer {
    background-color: #333;
    padding: 10px;
    margin: 0;
    color: white;
    text-align: center;
}

.customer-reviews p {
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    position: relative;
}

.star-rating {
    color: #FFD700 !important; /* Yellow color for stars */
    font-size: 24px; /* Adjust the font size as needed */
    /* margin: 2px 0; Adjust the margin as needed */
    line-height: 1;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 4px;
}
